<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CheckSplit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>172E27C01E0C200D00BAFD5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>172E27D41E0C200D00BAFD5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>172E27DF1E0C200D00BAFD5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
